@media screen and (min-width: 460px){
    .article__title{
        display: block;
        text-align: center;
        border-bottom: 1px solid #eeeeee;    
    }
    .article__h2{
        color: #646464;
        font-size: 2.4rem;
    }
    .article__p{
        color: rgba(56, 56, 56, 0.856);
        font-size: 1.3rem;
    }
    .article{
        background-color: white;
        padding: 10px 0 10px 0;
        margin-bottom: 20px;
    }
    .article__footer{
        display: flex;
        justify-content: flex-end;
        color: rgba(56, 56, 56, 0.856);
    }
    .article__footer-text{
        margin-right: 25px;
        padding-right: 25px;
        border-right: 1px solid #646464; 
    }
    .article__body{
        border: 0;
    }
    .nav{
        margin-bottom: 20px;
    }
}

@media screen and (min-width: 480px){
    .article__image{
        display: block;
        width: 100%;
    }
}

@media screen and (min-width: 600px){
    .article__body{
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .article__image{
        width: 50%;
        
    }
    .article__text{
        width: 40%;
       padding-right: 30px;
    }
}

@media screen and (min-width: 768px){
    .article__body{
        display: block;
    }
    .article__text, .article__image{
        width: 100%;
    }
    .article__data{
        display: block;
    }
    .article__header{
        display: flex;
        justify-content: space-around   ;
        align-items: center;
        border-bottom: 1px solid #eeeeee;
    }
    .article__title{
        width: 61%;
        margin: 20px 0 20px 0;
        border-bottom: 0;
        border-right: 1px solid #eeeeee;
        padding-right: 20px;
    }
    .article__autor{
        text-align: end;
        color: rgba(56, 56, 56, 0.856);
    }
    .article__date{
        font-weight: bold;
    }
}

@media screen and (min-width: 1024px ){
    .header{
        display: flex;
        justify-content: space-around;
        background-color: white;
        margin-bottom: 20px;
        align-items: center;
            /* position: fixed;
            top: 0;
            left: 0;
            right: 0;
            z-index: 999; */
    }
    .header__h1{
        display: block;
    }
    .nav__item{
        margin-right:20px;
    }
    .nav{
        margin-bottom: 0;
    }
    .container{
        grid-template-columns: 300px 1fr;
        grid-template-areas: 
            "header header"
            "aside main"
            "footer footer";
    }
    .aside{
        display: block;
        grid-area: aside;
        padding-left: 20px;
    }
    .aside__header{
        font-size: 2rem;
    }
    .aside__text{
        color: rgba(56, 56, 56, 0.856);
        font-size: 1.2rem;
    }
    .card{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-bottom: 40px;
    }
    .card__image{
        width: 90%;
    }
    .card__text{
        background-color: white;
        margin-right: 23px;
        padding: 0px 20px 0px 20px;
        box-shadow: 2px 2px 5px #646464;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius:10px;
    }
    .card__encabezado{
        margin-bottom: 0;
    }
    .superior__img{
        /* box-shadow: 0 0 4px 2px #646464;
        display: block;
        width: 50px;
        position: fixed;
        left: 965px;
        top: 90px; */
    }
}

@media screen and (min-width: 1200px ){
    
}