@media screen and (min-width: 460px){
    .article__title{
        display: block;
        text-align: center;
        border-bottom: 1px solid #eeeeee;    
    }
    .article__h2{
        color: #646464;
        font-size: 2.4rem;
    }
    .article__p{
        color: rgba(56, 56, 56, 0.856);
        font-size: 1.3rem;
    }
    .article{
        background-color: white;
        padding: 10px 0 10px 0;
        margin-bottom: 20px;
    }
    .article__footer{
        display: flex;
        justify-content: flex-end;
        color: rgba(56, 56, 56, 0.856);
    }
    .article__footer-text{
        margin-right: 25px;
        padding-right: 25px;
        border-right: 1px solid #646464; 
    }
    .article__body{
        border: 0;
    }
    .nav{
        margin-bottom: 20px;
    }
}

@media screen and (min-width: 480px){
    
}

@media screen and (min-width: 600px){
    
}

@media screen and (min-width: 768px){
    
}

@media screen and (min-width: 1024px ){
    
}

@media screen and (min-width: 1200px ){
    
}