@font-face {
    font-family: "raleway";
    src: url(../assets/fonts/Raleway-VariableFont_wght.ttf);
}
body{
    font-family: "raleway";
    background-color: #eeeeee;
}
.container {
	margin: 0 auto;
    min-width: 400px;
    max-width: 1440px;
	width: 100%;
}

.favorites, .superior__img, .header__h1, .aside, .article__footer, .article__title, .article__data, .article__image{
    display: none;
}

.nav{
    background-color: white;
    padding: 10px 0 10px 0;
}
.nav__list{
    display: flex;
    justify-content: space-evenly;
    list-style: none;
}
.nav__link{
    text-decoration: none;
    color: rgba(128, 128, 128, 0.637);
}
.nav__link--red{
    color: red;
}
.article__body{
    border: 1px solid #646464;
    margin: 20px 0 20px 0;
    background-color: white;
    padding: 20px 30px 0 30px;
    text-align: justify;
}
.footer{
    border-top: 1px solid #646464;
    margin-top: 50px;
    font-size: 11px;
    text-align: center;
}
.footer__textcolor{
    color: red;
}